main{
    height: 95vh;
    width: 98vw;
    background-color: rgb(240, 242, 245);
    margin:0 auto;
    display: flex;
    position: relative;
    top:9vh;
    justify-content: space-between;
}
#fb-icon{
    width: 2.6em;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
}

.brand-div{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    width:30%;
    justify-content: flex-start;
    padding-left: 10px;
}
header{
    width: 99vw;
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    background-color: white;
    margin:0 auto;
    position: fixed;
}
.search-div{
    margin-left: 1%;
    height: 65%;
    width: 60%;
    display: inline-block;
    background-color: rgb(240, 242, 245);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    cursor: text;
}
input:focus , select{
    outline-width: 0;
}

#search-in{
    border:none;
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    width: 70%;
    height: 90%;
    padding-left: 5%;
}
.nav-div{
    width: 40%;
    /* background: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-item{
    height: 100%;
    width: 19%;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 100ms ease-in;
    /* border-bottom: 6px solid #4287f5; */
}
.nav-item:hover{ 
    border-bottom: 2px solid #4287f5;   
}

.nav-item:hover .bi{ 
    transform: scale(1.1) translateY(-1px);
    fill: #4287f5;
}
.bi{
    width: 2em;
    height: 2em;
    transition: 100ms;
}
.button-div{
    width: 30%;
    height: 100%;
    /* background-color:crimson; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-div{
    width: calc(50%/4);
    height: 100%;
    /* background: darkgreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.account-div{
    width: 30%;
    height: 100%;
    /* background: rgb(43, 166, 214); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp{
    width: 80%;
    height: 80%;
    /* background: darkturquoise; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* add by molik */
    padding: 0px 6px;
}
.dp:hover{
    background-color:rgb(228, 230, 235) ;
}
#acc-img{
    width: 20%;
    /* height: 35px; */
    border-radius: 50%;
    background-size: cover;
    background-position: center;

    /* add by molik */
    clip-path: circle(47.2% at 49% 48%);
    width: 38%;
    height: 81%;
 }
 #username{
     font-size: large;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 5%;

     /* add by molik */
     font-size: 15px;
     font-weight: 600;
 }
 .btn-cl{
     width: 3em;
     height: 3em;
     background-color: rgb(228, 230, 235);
     border: none;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 .btn-cl:hover{
    background-color: rgb(211, 213, 218);

 }
 #main2{
    width: 50%;
    height: 81vh;
    background: chocolate;
    position: relative;
    left:22%;
    
}
#main3{
    width: 25%;
    height: 81vh;
    background: cornflowerblue;
    position: fixed;
    left: 74%;

}

/* ****************************      LEFT SIDE BAR     ********************************/
#main1{
    /* width: 25%; */
    width: 22%;
    height: 81vh;
    position: fixed;
    background-color: rgb(240, 242, 245);
    z-index: 2
}
/* #main1:hover{
    overflow-y: scroll;
} */
/* i.e         ul */
#inside-main1{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    z-index: 7;
    font-size: 17px;
}
/* i.e insidwe ul       its li */
.main1-li{
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    margin-bottom: 4px;
}
.main1-li:hover{
    cursor: pointer;
}
/* all spans under li */
.li-span{
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
/* for all icons/images in left side bar */
.left-img{
    padding-left: 11px;
    width: 29px;
    transform: scale(1.2);
}
/* for 1st image of left bar i.e for user image like here its elon musk */
.main-li-img{
    width: 32px;
    margin-top: 3px;
    height: 32px;
    padding-left: 0px;
    margin-left: 9px;
    clip-path: circle(47.2% at 49% 48%);
}
.main1-li:hover{
    background-color: rgb(214, 214, 216);;    
}
.ur-shortcuts{
    width: 80%;
    font-size: 16px;
}
.ur-shortcuts h3{
    color: grey;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 12px;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: -2px;
}
.ur-shortcuts-inside{
    font-size: 14px;
    padding-left: 12px;
}
.ur-shortcuts-inside li{
    display: inline;
}
.ur-shortcuts-inside li a , .ur-shortcuts-inside li span{
    text-decoration: none;
    color: grey;
}
.ur-shortcuts-inside li a:hover{
    text-decoration: underline;
}

/* NewsFeed styles  */






/* Newsfeed styles done above */