main{
    height: 95vh;
    width: 98vw;
    background-color: rgb(240, 242, 245);
    margin:0 auto;
    display: flex;
    position: relative;
    top:9vh;
}
#fb-icon{
    width: 2.6em;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
}

.brand-div{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    width:30%;
    justify-content: flex-start;
}
header{
    width: 99vw;
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    background-color: white;
    margin:0 auto;
    position: fixed;
}
.search-div{
    margin-left: 1%;
    height: 65%;
    width: 60%;
    display: inline-block;
    background-color: rgb(240, 242, 245);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    cursor: text;
}
input:focus , select{
    outline-width: 0;
}

#search-in{
    border:none;
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    width: 70%;
    height: 90%;
    padding-left: 5%;
}
.nav-div{
    width: 35%;
    /* background: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-item{
    height: 100%;
    width: 19%;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 100ms ease-in;
    /* border-bottom: 6px solid #4287f5; */
}
.nav-item:hover{ 
    border-bottom: 2px solid #4287f5;
    
}

.nav-item:hover .bi{ 
    transform: scale(1.1) translateY(-1px);
    fill: #4287f5;
}
.bi{
    width: 2em;
    height: 2em;
    transition: 100ms;
}
.button-div{
    width: 30%;
    height: 100%;
    /* background-color:crimson; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-div{
    width: calc(50%/4);
    height: 100%;
    /* background: darkgreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.account-div{
    width: 30%;
    height: 100%;
    /* background: rgb(43, 166, 214); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp{
  width: 80%;
  height: 80%;
  /* background: darkturquoise; */
  border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dp:hover{
    background-color:rgb(228, 230, 235) ;
}
#acc-img{
    width: 20%;
    /* height: 35px; */
    border-radius: 50%;
    background-size: cover;
    background-position: center;
 }
 #username{
     font-size: large;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 5%;
 }
 .btn-cl{
     width: 3em;
     height: 3em;
     background-color: rgb(228, 230, 235);
     border: none;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 .btn-cl:hover{
    background-color: rgb(211, 213, 218);

 }
 #main1{
   width: 25%;
   height: 81vh;
   /* background:chartreuse ; */
 }
 #main2{
     width: 50%;
    height: 81vh;
    /* background: chocolate; */
}
#main3{
    width: 25%;
    height: 81vh;
    /* background: cornflowerblue; */
}

